@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Generic sizing and positioning for all pages*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 35px;
  height: 35px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

footer {
  margin-top: auto;
}

/*Generic sizing and positioning for all pages*/

.card-home-page {
  width: 25rem;
  padding: 25px;
  margin: 40px;
  box-shadow: 5px 10px 10px 5px #888888;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

/*Blog display styling and positioning*/

.blog-display-container {
  width: 70%;
}

.blog-card {
  background-color: #f5f5f5;
}

.blog-display-img {
  width: 60%;
}

.blog-display-txt {
  width: 90%;
}


/*Login page styling*/

.login-logo {
  height: 45px;
  width: 45px;
}

/* Comments and replies styling */

button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 14px;
  padding: 4px 8px;
  color: rgba(0, 0, 0, 0.85);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

button:hover,
button:focus,
button:active {
  cursor: pointer;
  background-color: #ecf0f1;
}

.comment-thread {
  width: 800px;
  max-width: 100%;
  margin: auto;
  padding: 0 30px;
  background-color: #fff;
  border: 1px solid transparent;
  /* Removes margin collapse */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.85);
}

.m-0 {
  margin: 0;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Comment */

.comment {
  position: relative;
  margin: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 25px;
}

.comment-body {
  margin-left: 10px;
}

.comment-heading {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 14px;
}

.comment-voting {
  width: 20px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.comment-info {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}

.comment-author {
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  text-decoration: none;
}

.comment-author:hover {
  text-decoration: underline;
}

.replies {
  margin-left: 20px;
  border: 3px solid block;
}

.reply-form {
  margin-top: 10px;
  margin-left: 70px;
  width: 80%;
}

.reply-button {
  margin-top: 5px;
}

.comment-border-link {
  display: block;
  position: absolute;
  top: 20px;
  left: 10px;
  right:10px;
  width: 12px;
  height: calc(100% - 50px);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}

.comment-border-link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Comment and Reply delete form */

.delete-form {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  border-radius: 20px;
}

/*Media queries for mobile styling*/

@media only screen and (max-width: 768px) {

  /*Home Page*/
  .card-home-page {
    width: 80%;
  }

  /*Blog Display Page*/

  .blog-display-img {
    min-width: 90%;
  }

  .blog-display-container {
    min-width: 100%;
  }
}