{% load static %}
<comment class="card p-4 !mb-4">
    <div class="flex justify-between items-center">
        {% if comment.author %}
        <a class="flex items-center gap-1 mb-2" href="#">
            <img class="w-8 h-8 object-cover rounded-full" src="#">
            <span class="font-bold hover:underline">{{ comment.author}}</span>
            <span class="text-sm font-normal text-gray-400">@{{ comment.created_on }}</span>
        </a>
        {% else %}
        <div class="flex items-center gap-1 mb-4">
            <img class="w-8 h-8 object-cover rounded-full" src="#">
            <span class="text-gray-500">no author</span>
        </div>
        {% endif %}
    </div>
    <p class="text-xl px-2">
        {{ comment.content }}
    </p>
    <div>
        <div class="flex items-center gap-4 [&>a:hover]:underline">
            {% if user.is_authenticated and comment.author == user %}
            <a href="{% url 'comment-delete' comment.id post.slug %}">Delete</a>
            {% endif %}
        </div>
        <div>
            {% if comment.reply.count %}
            Replies : <span id="replycount-{{ comment.id }}" class="font-light text-gray-500 ml-1">{{ comment.reply.count}}</span>
            {% else %}
            {% if user.is_authenticated %}
            Add Reply
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div x-data="{ open: false }">
        <button @click="open = ! open">Open Replies</button>
        <div x-show="open" @click.outside="open = false">
            <div id="tab-contents">
                {% for reply in comment.reply.all %}
                {% include 'blog/reply.html' %}
                {% endfor %}
            </div>
        </div>

        <div x-show="repliesOpen" x-cloak class="basis-full mt-3 pl-8 grid grid-cols-1">

            {% for reply in comment.replies.all %}
            {% include 'blog/reply.html' %}
            {% endfor %}

            {% if user.is_authenticated %}
            <form class="replyform flex justify-between" autocomplete="off" hx-post="#" hx-target="this"
                hx-swap="outerHTML">
                {% csrf_token %}
                {{ replyform }}
                <button class="block" type="submit">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
</comment>