{% load static %}
<div class="comment-thread">
    <!-- Comment 1 start -->
    <div class="comment" id="comment-1">
        <a href="#comment-1" class="comment-border-link">
        </a>
        <div class="comment-heading">
            <div class="comment-info">
                <a href="{% url 'userprofile' comment.author.username  %}" class="comment-author">{{ comment.author}}</a>
                <p class="m-0">
                    @{{ comment.created_on }}
                </p>
            </div>
        </div>
        <div class="comment-body">
            <p>
                {{ comment.content }}
            </p>
            <div >
                {% if user.is_authenticated and comment.author == user %}
                <div class="mb-2">
                    <a class="text-decoration-none comment-reply-button" href="{% url 'comment-delete' comment.id post.slug %}">Delete</a>    
                </div>
                {% endif %}
            </div>
            <div x-data="{ open: false }">
                <button class="comment-reply-button" type="button" @click="open = ! open"> Toggle Replies</button>
                <div x-show="open" @click.outside="open = false">
                    {% for reply in comment.reply.all %}
                    {% include 'blog/reply.html' %}
                    {% endfor %}
                    {% if user.is_authenticated %}
                    <form method="POST" class="reply-form" action="{% url 'reply-sent' comment.id %}">
                        {% csrf_token %}
                        {{ reply_form }}
                        <button class="block reply-button comment-reply-button" type="submit">Submit</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>