{% extends 'base.html' %}
{% load static %}
{% block content%}
<!-- Blog post creation form-->

<div class="w-100vw h-100vh d-flex flex-column align-items-center justify-content-center mt-3 mb-3">
    <h1 class="text-decoration-underline">Create Your Blog Post here</h1>
    <form method="POST" enctype="multipart/form-data" action="{% url 'create-blog-post' %}"
        class="w-75 bg-light border border-dark p-4 rounded border border-5">
        {% csrf_token %}
        {{ form.as_p | safe }}
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</div>

<!-- Javascript for tag selection-->

<script>
    $(document).ready(function() {
        $('.multi-select').select2({
            placeholder: "Select a maximum of 5 tags for your blog post.",
            allowClear: true,
            width: '100%'
        });
    });
    </script>
{% endblock content %}