{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="container blog-display-container py-5">
        <div class="card blog-card shadow d-flex flex-column align-items-center py-3">
            <h1 class="card-title text-decoration-underline py-3 display-4"> {{post.title}} </h1>
            <h4 class="card-text"> Written by | {{post.author}}</h4>
            {% if "placeholder" in post.image.url %}
            <img class="blog-display-img" src="{% static 'images/59869.jpg' %}" alt="Card image cap">
            {% else %}
            <img class="blog-display-img" src=" {{ post.image.url }}" alt="{{ post.title }}">
            {% endif %}
            <div class="card-body d-flex flex-column align-items-center">
                <div class="card-text blog-display-txt">
                    {{post.content}}
                </div>
            </div>

            {% if post.comments.count %}
            <div hx-swap-oob="true" id="commentscount-{{ post.id }}" class="card-text">
                <h4>Comments: {{ post.comments.count}}</h4>
            </div>
            {% else %}
            {% if user.is_authenticated %}
            Add comment
            {% endif %}
            {% endif %}
        </div>

        <div class="comment-thread mt-5">
            {% if user.is_authenticated %}
            <div class="comment">
                <form method="POST" action="{% url 'comment-sent' post.slug %}">
                    <div>
                        <div>
                            <h4>Post your comment:</h4>
                            {% csrf_token %}
                            {{comment_form.as_p}}
                            <button class="block reply-button comment-button " type="submit">Add Comment
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% else %}
        <div class="card blog-card shadow p-3 mt-3">
            <p>Log in to leave a comment</p>
        </div>
        {% endif %}
        {% for comment in post.comments.all %}
        {% include 'blog/comment.html' %}
        {% endfor %}
    </div>
</div>

{% endblock %}