{% load static %}

<div class="replies">
    <!-- Comment 2 start -->
    <div class="comment" id="comment-2">
        <a href="#comment-2" class="comment-border-link">
        </a>
        <div class="comment-heading">
            <div class="comment-info">
                <a href="#" class="comment-author"> {{ reply.author }}</a>
                <p class="m-0">
                    @{{ reply.created_on }}
                </p>
            </div>
        </div>
        <div class="comment-body">
            <p>
                {{ reply.content }}
            </p>
            {% if user.is_authenticated and reply.author == user %}
            <div>
                <a class="cursor-pointer" href="{% url 'reply-delete' reply.id %}" hx-target="#reply-{{ reply.id }}"
                    hx-swap="outerHTML">
                    <button class="block comment-reply-button" type="submit">Delete</button>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>