{% load static %}

<div class="replies">

    <!-- Reply starts -->

    <div class="comment">
        <a class="comment-border-link">
        </a>
        <div class="comment-heading">
            <div class="comment-info">
                <a href="{% url 'userprofile' reply.author.username  %}" class="comment-author"> {{ reply.author }}</a>
                <p class="m-0">
                    @{{ reply.created_on }}
                </p>
            </div>
        </div>
        <div class="comment-body">
            <p>
                {{ reply.content }}
            </p>
            <!--Reply ends-->


            <!--Delete button-->
            {% if user.is_authenticated and reply.author == user %}
            <form method="post">
                <a class="cursor-pointer block comment-reply-button text-decoration-none" href="{% url 'reply-delete' reply.id %}">
                    Delete
                </a>
            </form>
            {% endif %}
        </div>
    </div>
</div>