{% load static %}
<reply id="reply-{{ reply.id }}" class="block pt-2 mt-2 border-t">
    <div class="w-fit">
        {% if reply.author %}
        <a class="block" href="">
            <span class="font-bold hover:underline">{{ reply.author }}</span>
            <span class="text-sm text-gray-400">@{{ reply.created_on }}</span>
        </a>
        {% else %}
        <span class="text-gray-500">no author</span>
        {% endif %}
        <div class="mr-3">{{ reply.content }}</div>
        {% if user.is_authenticated and reply.author == user %}
        <div class="flex items-center gap-4 [&>a:hover]:underline">
            {% if user.is_authenticated and comment.author == user %}
            <a href="#">Delete</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</reply> 