{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if profile_created %}

<div class="container-fluid">
    <div class="row offwhite m-5 p-5 shadow-lg rounded-3">
        <div class="col-md-5">
            <div class="text-center mt-3">
                {% if "nobody" in profile.image.url %}
                <img src="{% static 'images/nobody.jpg' %}" width="100%" alt="default image"
                    class="shadow-lg rounded-3">
                {% else %}
                <img src="{{ profile.image.url}}" width="100%" alt="profile image" class="shadow-lg rounded-3">
                {% endif %}
                <h1 class="mt-3 fw-bold">{{ profile.user }}</h1>

                {% if user %}
                <div class="d-flex flex-row gap-3 justify-content-center pe-4 mt-5">
                    <button class="btn btn-secondary">
                        <a class="text-light text-decoration-none" href="{% url 'update-profile' %}"> Edit Profile here
                        </a>
                    </button>
                    <button class="btn btn-secondary">
                        <a class="text-light text-decoration-none" href="{% url 'delete-profile' %}"> Delete Profile
                        </a>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <p>{{ profile.bio| safe }}</p>
        </div>
    </div>
</div>
{% else %}
<div class="w-100vw h-100vh d-flex flex-column align-items-center justify-content-center mt-3 mb-3">
    <h1>Add your Profile here</h1>
    <form class="w-75 bg-light border border-dark p-4 rounded border border-5" method="post"
        enctype="multipart/form-data"> 
        {% csrf_token %}
        <label class="mb-3">Change Profile image:</label>
        <br>
        {{ profile_form.image }}
        <hr>
        <label class="small mb-1">Write your Profile Bio here:</label>
        <div>{{ profile_form.bio | safe }}</div>
        <br>
        <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
    </form>
</div>
{% endif %}
{% endblock %}