{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if profile_created %}
<div class="container mt-3 mb-5">
    <div class="section shadow-lg rounded-3">
        <div class="container">
            <div class="image-section">
                {% if "nobody" in profile.image.url %}
                <img src="{% static 'images/nobody.jpg' %}" width="100%" alt="default image" class="mt-3 rounded-3">
                {% else %}
                <img src="{{ profile.image.url}}" width="100%" alt="profile image" class="mt-3 rounded-3 shadow-lg ">
                {% endif %}
            </div>
            <div class="content-section">
                <div class="title">
                    <h1>{{ profile.user }}</h1>
                </div>
                <div class="content">
                    <p>{{ profile.bio| safe }}</p>
                    <p class="mt-3"><em>Updated on: {{ profile.updated_on }}</em></p>
                    <div class="d-flex flex-row gap-3">
                        <button class="btn-lg">
                            <a href="{% url 'update-profile' %}"> Edit Profile here </a>
                        </button>
                        <button class="btn-lg">
                            <a href="{% url 'delete-profile' %}"> Delete </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="form-content">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="small mb-1">Change Profile image:</label>
                    {{ profile_form.image }}
                </div>
                <hr>
                <label class="small mb-1">Write your Profile Bio here:</label>
                <div>{{ profile_form.bio }}</div>
            </div>
        </div>
        <br><br>
        <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
    </form>
</div>
{% endif %}
{% endblock %}