{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="w-100vw h-100vh d-flex flex-column align-items-center justify-content-center mt-3 mb-3">
    <h1>Edit your Profile here</h1>
    <form class="w-75 bg-light border border-dark p-4 rounded border border-5" method="post"
        enctype="multipart/form-data"> 
        {% csrf_token %}
        <label class="mb-3">Change Profile image:</label>
        <br>
        {{ profile_form.image }}
        <hr>
        <label class="small mb-1">Write your Profile Bio here:</label>
        <div>{{ profile_form.bio | safe }}</div>
        <br>
        <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
    </form>
</div>
{% endblock %}