{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for post in posts %}
<h2>Your Blog posts:</h2>
<div class="d-flex flex-column align-items-center">
    <div class="w-50 border border-dark my-3 p-3 rounded bg-light">
        <h4><u>{{post.title}}</u></h4>
        <div class="tags mt-3">
            {% for tag in post.tags.all %}
            <span class="tag">{{ tag.tag }}</span>
            {% endfor %}
        </div>
        <p class ="py-3">{{post.intro}}</p>
        <div class="w-100">
            <div class="d-flex flex-row justify-content-between">
                <div>
                    <a href="{% url 'post_blog' post.slug %}" class="btn btn-dark btn-sm">Go to blog post here !!!</a>
                </div>
                <div>
                    <a class="text-decoration-none comment-reply-button" href="{% url 'delete-post' post.slug %}">Delete
                        Post</a>
                        <a class="text-decoration-none comment-reply-button" href="{% url 'edit-post' post.slug  %}">Edit
                            Post</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor%}
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock%}